importFrom("graphics", plot)
importFrom("survival", Surv)

import(quantreg)
import(Formula)
import(methods)

## S4 class
export(odc) #exporting methods implicitly exports the generics
exportClasses(OutlierDC)
exportMethods(show, plot, coef, update) 
